.Card {
	width: 395px;
	height: 200px;
	background-color: #2d2d2d;
	margin: 0 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Card h1,
h2 {
	margin: 0;
}
